<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Comments without Context</title>
	<link rel="stylesheet" href="/main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Capriola' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="/{{id}}" />
	<meta property="og:title" content="Comments without Context" />
	<meta property="og:description"        content="{{message}}" />
	<meta property="og:image" content="http://graph.facebook.com/{{from.id}}/picture?type=large" />
	<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Comments without Context" />
	<meta property="twitter:description"        content="{{message}}" />
	<meta property="twitter:image" content="http://graph.facebook.com/{{from.id}}/picture?type=large" />

	<script>
	if(window.history && window.history.pushState) {
		window.history.pushState({'html': document.outerHtml, 'title': document.title}, '', '/{{id}}');
	}
	</script
</head>
<body>

	<header class="header">
		<h1 class="header__text">Comments without Context</h1>
	</header>

	<div class="comments">
		<figure class="comment">

	     <figcaption class="user">
	     	<a class="user__link" href="https://facebook.com/{{from.id}}">
	     		<img class="user__image" src="http://graph.facebook.com/{{from.id}}/picture?type=large"/>
	     		<cite class="user__name">{{from.name}}</cite>
	     	</a>
	     	</figcaption>

	     <blockquote>{{{message}}} <br/>
	     <a class="comment__view" href="https://facebook.com/{{id}}">View in context</a></blockquote>

		</figure>
	</div>
	<footer class="footer">
	<ul class="share-buttons">
  <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://comments-without-context.herokuapp.com/{{id}}&t=Comments%20without%20Context" target="_blank" title="Share on Facebook"><img src="images/flat_web_icon_set/inverted/Facebook.png"></a></li>
  <li><a target="_blank" href="https://twitter.com/intent/tweet?source=hhttps://comments-without-context.herokuapp.com/{{id}}&text=Comments%20without%20Context:%20https://comments-without-context.herokuapp.com/{{id}}" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/inverted/Twitter.png"></a></li>
</ul>
	<a href="/" class="more">MOAR</a>
	</footer>
</body>
</html>